/** Button
* @since ProLooks 3
* --------------------------------------------- */

/**
 * Default, but not variantions
 */
.wp-block-button:not([class*="is-style-"]) > .wp-block-button__link,
.wp-block-button.is-style-default > .wp-block-button__link {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wp-element-button,
.wp-block-button__link {
  transition: all 0.2s ease;

  &:hover {
    // background-color: var(--wp--preset--color--c-moderate) !important;
    box-shadow: inset 0px 0px 0px 1px var(--wp--preset--color--d-contrast);
  }
}

/**
 * Variations
 */

.is-style-button-secondary .wp-block-button__link {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: var(--wp--preset--color--d-contrast) !important;
  background-color: var(--wp--preset--color--d-x-strong) !important;
  box-shadow: inset 0px 0px 0px 1px var(--wp--preset--color--d-dim);

  &:hover {
    background-color: var(--wp--preset--color--d-strong) !important;
    box-shadow: inset 0px 0px 0px 1px var(--wp--preset--color--c-strong);
  }
}

.is-style-button-tertiary .wp-block-button__link {
  box-sizing: border-box;
  background-color: transparent !important;
  text-decoration: underline;
  color: var(--wp--preset--color--c-strong);

  &:hover {
    background-color: var(--wp--preset--color--d-strong) !important;
    box-shadow: none;
  }
}
