/** Button
* @since ProLooks 3
* --------------------------------------------- */

/**
 * Default, but not variantions
 */
.wp-block-button:not([class*="is-style-"]) > .wp-block-button__link,
.wp-block-button.is-style-default > .wp-block-button__link {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wp-element-button,
.wp-block-button__link {
  transition: none;
}

/**
 * Default
 */
.is-style-button-primary .wp-block-button__link {
  background-color: var(--wp--preset--color--c-strong);
  box-shadow: inset 0px 0px 0px 1px var(--wp--preset--color--c-strong),
    var(--wp--preset--shadow--small);
  &:hover {
    background: linear-gradient(
      180deg,
      var(--wp--preset--color--c-default) 0%,
      var(--wp--preset--color--c-strong) 100%
    );
    box-shadow: inset 0px 0px 0px 1px var(--wp--preset--color--d-contrast),
      var(--wp--preset--shadow--medium);
  }
}

/**
 * Variations
 */

.is-style-button-secondary .wp-block-button__link {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  color: var(--wp--preset--color--c-stronger);
  background: var(--wp--preset--color--d-stronger);
  box-shadow: inset 0px 0px 0px 1px var(--wp--preset--color--c-strong),
    var(--wp--preset--shadow--x-small);

  &:hover {
    background: linear-gradient(
      180deg,
      var(--wp--preset--color--d-stronger) 0%,
      var(--wp--preset--color--d-default) 100%
    );
    box-shadow: inset 0px 0px 0px 1px var(--wp--preset--color--c-strong),
      var(--wp--preset--shadow--small);
  }
}

.is-style-button-tertiary .wp-block-button__link {
  background: transparent;
  text-decoration: underline;
  color: var(--wp--preset--color--c-strong);

  &:hover {
    background: linear-gradient(
      180deg,
      var(--wp--preset--color--d-stronger) 0%,
      var(--wp--preset--color--d-default) 100%
    );
    box-shadow: inset 0px 0px 0px 1px var(--wp--preset--color--c-dimmer),
      var(--wp--preset--shadow--small);
  }
}
