/* Page List
* @since ProLooks 3
--------------------------------------------- */

/**
 * Variations
 */
ul.is-style-page-list-plain {
  list-style: none;
  padding-inline-start: 0px;
  & a {
    color: var(--wp--preset--color--a-3);
  }
  & a:hover {
    color: var(--wp--preset--color--c-2);
  }
  & li {
    padding-inline-start: 0px;
  }
}
