/* Images
* @since ProLooks 3
--------------------------------------------- */

.is-style-image-hover-zoom {
  & img {
    transition: transform 0.2s ease-in-out;
  }
  &:hover img {
    transform: scale(1.05);
  }
}

.is-style-image-picture-frame {
  & img {
    outline: 1px solid var(--wp--preset--color--b-default);
    box-shadow: var(--wp--preset--shadow--small);
    border: 0.6em solid var(--wp--preset--color--b-stronger);
    transition: all 0.2s ease-in-out;
  }
  &:hover img {
    transform: rotate(-2deg);
    box-shadow: var(--wp--preset--shadow--medium);
  }
}
