/**  Utility Classes: Background image positions
* @since ProLooks 4
* --------------------------------------------- */

.bg-center-top {
  background-size: auto !important;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}
