/* Images
--------------------------------------------- */

.is-style-image-picture-frame img {
  outline: 1px solid var(--wp--preset--color--b-3);
  box-shadow: var(--wp--preset--shadow--shadow-lg);
  border: 0.6em solid var(--wp--preset--color--b-2);

  &:hover {
    transform: rotate(-2deg);
  }
}

.is-style-image-hover-zoom {
  overflow: hidden;

  & img:hover {
    transform: scale(1.05);
    opacity: 1;
  }
}
