<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|large"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"a-0","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-a-0-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--large)"><!-- wp:post-featured-image {"height":"250px"} /-->

<!-- wp:post-title {"level":1} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-author-name {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|colora-4"}}}},"textColor":"dark-lighter","fontSize":"small"} /-->

<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|colora-5"}}}},"textColor":"dark-lightest","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"var:preset|spacing|large"} -->
<div style="height:var(--wp--preset--spacing--large)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|x-large"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:separator {"backgroundColor":"b-3"} -->
<hr class="wp-block-separator has-text-color has-b-3-color has-alpha-channel-opacity has-b-3-background-color has-background"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"},"fontSize":"small"} -->
<div class="wp-block-group has-small-font-size"><!-- wp:post-terms {"term":"category","prefix":"Categories: ","style":{"layout":{"selfStretch":"fill","flexSize":null},"elements":{"link":{"color":{"text":"var:preset|colora-3"}}}},"textColor":"dark-default"} /-->

<!-- wp:post-terms {"term":"post_tag","prefix":"Tags: ","style":{"layout":{"selfStretch":"fill","flexSize":null},"elements":{"link":{"color":{"text":"var:preset|colora-3"}}}},"textColor":"dark-default"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:comments {"align":"full","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|x-large"}}}} -->
<div class="wp-block-comments alignfull" style="margin-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"}}},"backgroundColor":"a-0","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-a-0-background-color has-background" style="padding-top:var(--wp--preset--spacing--xx-large);padding-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:comments-title /-->

<!-- wp:comment-template -->
<!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}}},"backgroundColor":"b-1"} -->
<div class="wp-block-columns has-b-1-background-color has-background" style="padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:comment-author-name {"style":{"elements":{"link":{"color":{"text":"var:preset|colora-3"}}}},"textColor":"dark-default","fontSize":"small"} /-->

<!-- wp:comment-date {"style":{"elements":{"link":{"color":{"text":"var:preset|colora-5"}}}},"textColor":"dark-lightest","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}},"elements":{"link":{"color":{"text":"var:preset|colora-5"}}}},"textColor":"dark-lightest","layout":{"type":"flex","justifyContent":"space-between"},"fontSize":"small"} -->
<div class="wp-block-group has-dark-lightest-color has-text-color has-link-color has-small-font-size" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-reply-link {"fontSize":"small"} /-->

<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:group --></div>
<!-- /wp:comments -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->